@charset "utf-8";

html, body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: 'Source Code Pro', sans-serif;
}

body {
}


a {
	color: #1f1f99;
	text-decoration: underline;
}

a:link    {}
a:visited {}
a:hover   {
	color: #1f1f99;
	text-decoration: none;
}
a:active  {}

ul {
	margin: 0px 0px 10px;
}

hr {
	margin: 30px 0;
	border: solid #D264B7;
	border-width: 0px 0px 1px;
}



#centerLine {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 0;
	width: 1px;
	height: 100%;
	background: #D264B7;
	overflow: visible;
	white-space: nowrap;
}

.container-fluid {
	margin: 0 auto;
	width: 900px;
}


/*--header--*/
.header {
	position:relative;
	z-index: 1;
	text-shadow:
		-1px -1px 0px #FFF,
		1px -1px 0px #FFF,
		1px 1px 0px #FFF,
		-1px 1px 0px #FFF;
}

	.header h1 {
		margin: 15px 0px 20px;
		font-size: 50px;
		line-height: 50px;
	}


/*--carousel--*/
.carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
	.carousel h2 {
		margin: 0 0 20px;
	}

	.carousel a {
		color: #333;
		text-decoration: none;
	}

	
	/*--unit--*/
	.unit .carousel-listWrapper {
		width: 300px;
		overflow: hidden;
	}
	
	/*--vertical--*/
	.vertical .carousel-listWrapper {
		margin: 0 0 20px;
		height: 100px;
		overflow: hidden;
	}
	
	.carousel-list {
		margin-bottom: 20px;
		position: relative;
	}

	.carousel-list:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}

	/*--fade--*/
	#fade .carousel-list {
		width: 100px;
		height: 100px;
	}
		
		.carousel-item {
			float: left;
			display: inline;
			margin: 0px;
			padding: 40px 0px 0px 0px;
			width: 100px;
			height: 60px;
			background-color: #eee;
			text-align: center;
		}

		.carousel-item.carousel-current {
			background-color: #D264B7 !important;
		}

		/*--vertical--*/
		.vertical .carousel-item {
			float: none;
			display: block;
		}

		/*--fade--*/
		#fade .carousel-item {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		/*--tab--*/
		.tab .carousel-item {
			padding: 10px;
			width: 190px;
			height: auto;
			background-color: #B7D264 !important;
			text-align: left;
		}
		
	.carousel-button {
		margin-left: -10px;
	}
	.carousel-button:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
		/*--vertical--*/
		/*.vertical .carousel-prev,*/
		/*.vertical .carousel-next {*/
			/*display: block;*/
			/*float: none;*/
			/*margin-bottom: 10px;*/
		/*}*/
		.carousel-prev,
		.carousel-next {
			display: inline;
			float: left;
			margin-left: 10px;
			width: 100px;
		}
			.carousel-prev a,
			.carousel-next a {
				display: block;
				padding: 20px;
				background-color: #B7D264;
				border-radius: 5px;
			}
            .carousel-prev.carousel-disable a,
            .carousel-next.carousel-disable a {
                opacity: 0.5;
                cursor: default;
                text-decoration: none;

            }
			
		.carousel-prev {
		}
			.carousel-prev a {
			}
		
		.carousel-next {
		}
			.carousel-next a {
			}
			
	.carousel-pagination {
	}
		.carousel-paginationList {
			margin-left: -10px;
		}

		/*--tab--*/
		.tab .carousel-paginationList {
			margin-bottom: 0;
		}
		.carousel-paginationList:after {
			content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
		}
			.carousel-paginationItem {
				float: left;
				display: inline;
				margin-left: 10px;
			}
				.carousel-paginationItem a {
					display: block;
					padding: 13px 0;
					width: 45px;
					background-color: #B7D264;
					text-align: center;
				}

	.carousel-setNum {
	}
		.carousel-setNum a {
			display: block;
			width: 100%;
			padding: 13px 0;
			background-color: #B7D264;
			text-align: center;
		}







