@charset "utf-8";

/*!
 * base.css
 *
 * ページ・テンプレートとなる大枠部分、
 * 背景・ヘッダー・フッター・大枠のカラム分けなどの設定ファイル。
 */

/**
 * structure
 *
 * 基本的なエリア（枠組み）のカラム分けと背景を設定
 */

html, body {
	/* メイン背景・文字色 */
	background-color: #FFFFFF;
	color: #333333;
}

body {
}


a {
	color: #001F3F;
	text-decoration: underline;
}

a:link    {}
a:visited {}
a:hover   { text-decoration: none; }
a:active  {}


.box {
	margin: 0px auto 0px auto;
	padding: 10px;
	width: 1000px;
	background-color: #fcc;
}

.carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
}
	
	/*--carousel2--*/
	.carousel2 .listWrapper {
		height: 100px;
		overflow: hidden;
	}
	.carousel2 .list {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	.list {
	}
	.list:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
		/*--carousel2--*/
		.carousel2 .item {
			float: none;
			display: block;
		}
		
		.item {
			float: left;
			display: inline;
			margin: 10px;
			padding: 10px 0px 0px 0px;
			border: 1px solid #999;
			width: 40px;
			height: 30px;
			background-color: #eee;
			text-align: center;
		}
		.item.current {
			background-color: #fcc;
		}
		
	.button {
	}
	.button:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
		.prev,
		.next {
			display: inline;
			float: left;
			margin: 10px;
		}
			.prev a,
			.next a {
				display: block;
				padding: 20px;
				width: 100px;
				background-color: #ccf;
			}
			
		.prev {
		}
			.prev a {
			}
		
		.next {
		}
			.next a {
			}
			
	.pagination {
	}
		.paginationList {
		}
		.paginationList:after {
			content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
		}
			.paginationItem {
				float: left;
				display: inline;
				margin: 10px;
			}
				.paginationItem a {
					display: block;
					padding: 10px;
					background-color: #cfc;
				}







